[Unit]
Description=Skillbox Web Service {{env}}
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull registry.gitlab.com/alexbbell/verycoolapp:latest
ExecStart=/usr/bin/docker run --rm --name my_app -p 8080:8080  registry.gitlab.com/alexbbell/verycoolapp:latest
TimeoutSec=30



[Install]
WantedBy=multi-user.target

