[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User={{ alertmanager_user }}
Group={{ alertmanager_group }}
Type=simple
ExecStart={{ alertmanager_bin_path }}/alertmanager \
    --config.file {{ alertmanager_config_path }}/{{ alertmanager_config_file }} \
    --web.listen-address {{ alertmanager_listen_address }} \
    --storage.path {{ alertmanager_storage_path }} \
    --data.retention {{ alertmanager_storage_retention }} \
    --log.level {{ alertmanager_log_level }}{% if alertmanager_additional_cli_args | length > 0 %} \
    {% endif -%}
    {{ alertmanager_additional_cli_args }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
