server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:

  - url: {{ lokiSrvUrl}}


scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      __path__: /var/log/syslog
#  - targets:
#      - localhost
#    labels:
#      job: Nginx
#      __path__: /var/log/nginx/*log

