[Unit]
Description=promtail
Documentation=https://github.com/grafana/promtail

[Service]
ExecStart={{ promtail_executable }}/promtail-linux-amd64 -config.file {{ promtail_config_dir }}/config.yml {{ promtail_executable_options }}

[Install]
WantedBy=multi-user.target
